Repository soggiest/tao-test, pull requests merged in 2019-11, with the labels that each got.

#26 Test8
  ferrarin/bo1.yaml
  ferrarin/dev.yaml
  ferrarin/main.go
Labels: BO1, approved, dev/high-resources

#7 Test PR
  ferrarin/main.go
Labels: bug

#27 test
  ferrarin/main.go
Labels: approved

#29 Test11
  ferrarin/dev.yaml
  ferrarin/main.go
Labels: dev/high-resources

#30 test
  ferrarin/dev.yaml
Labels: approved, dev/high-resources

#37 test
  ferrarin/dev.yaml
Labels: approved, dev/high-resources
